.containerMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0px;
    max-width: 900px;
    background: #f9f9f9;
  }
  
  .container {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0px 15px;
    width: 100%;
  }
  
  .header {
    text-align: center;
    margin-bottom: 10px;
  }
  
  .header h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .header img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 2px;
  }
  
  .detailsAndReview {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 10px;
  }
  
  .content {
    flex: 2;
  }
  
  .content p {
    margin: 10px 0;
    font-size: 14px;
    color: #555;
  }
  
  .reviewForm {
    flex: 1;
    background: #f9f9f9;
    border-radius: 2px;
    padding:10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .reviewForm h4 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .reviewForm input,
  .reviewForm textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 12px;
  }
  
  .reviewForm button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .reviewForm button:hover {
    background: #0056b3;
  }
  
  .reviews {
    width: 100%;
    margin-top: 2%;
    background: #fff;
    border-radius: 2px;
    padding: 0px 15px;
    padding-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  .reviews h4 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .reviewCard {
    background: #f4f4f4;
    padding: 15px;
    border-radius: 2px;
    margin-bottom: 10px;
  }
  
  .reviewCard p {
    margin: 5px 0;
    font-size: 14px;
    color: #555;
  }
  
  .reviewCard span {
    font-size: 14px;
    color: #333;
  }
  
  .starRating {
    display: flex;
    gap: 5px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .star {
    color: #ddd;
    transition: color 0.3s;
  }
  
  .star.filled {
    color: #f5c518;
  }
  