.container {
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .heading {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }

  .imagePreview{
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
  }
  
  .formGroup {
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  .label {
    font-size: 16px;
    font-weight: 600;
    color: #555;
    margin-bottom: 8px;
  }
  
  .input, .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    
  }
  
  .input:focus, .textarea:focus {
    border-color: #007BFF;
    outline: none;
  }


  .suggestionsList{
    
    background-color: #fff;
    list-style: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-wrap: wrap;
    margin-right: 20px;
  }
  
  .textarea {
    min-height: 100px;
    resize: vertical;
  }  
  
  .submitButton {
    padding: 12px 20px;
    background-color: #007BFF;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #0056b3;
  }
  